<template>
    <footer class="py-5 bg-secondary">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p></div>
                    </footer>
</template>

<script>
export default {
  name: 'MagicFooter'
}
</script>
