<template>
    <div class="container px-4 px-lg-5 my-5">
        <div class="card text-white bg-dark mb-3 border-warning" >
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." /></div>
                    <div class="col-md-6">
                        <div class="small mb-1">SKU: BST-498</div>
                        <h1 class="display-5 fw-bolder">Card NAME</h1>
                        <div class="mb-5">
                            <span>$40.00</span>
                            <p>
                                <span class="badge bg-success">Success</span>

                                <span class="badge bg-success">Success</span>
                            </p>
                            <span class="badge bg-danger">Power</span><br />
                            <h5>Power <span class="badge bg-secondary">5</span></h5>
                        </div>
                        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at dolorem quidem modi. Nam sequi consequatur obcaecati excepturi alias magni, accusamus eius blanditiis delectus ipsam minima ea iste laborum vero?</p>

                    </div>
                </div>
        </div>
        </div>
</template>

<script>
export default {
  name: 'MagicCardDetails'
}
</script>
