<template>
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="row">
        <p>Assoumnani a crée la branche dev/Assou</p>
        <div v-for="card in cards" :key="card.id" class="col-2 my-2">
          <div class="card" style="width: 12rem">
            <div class="card-header">
              {{card.name}}
            </div>
            <img class="card-img-top" :src="card.card_images[0].image_url" alt="Card image cap" />
            <div v-if="(card.type!='Spell Card' && card.type!='Trap Card')" class="card-body">
              <p class="card-text">
                <u>ATK :</u> {{card.atk}} <u style="margin-left:auto;">DEF :</u> {{card.def}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "MagicCardList",
  data() {
    return {
      cards: null,
    };
  },
  async created() {
    const response = await axios.get(
      "https://db.ygoprodeck.com/api/v7/cardinfo.php?num=50&offset=" +Math.floor(Math.random() * 10950)
    );
    this.cards = response.data.data;
  },
};
</script>
