<template>
  <div id="app">
      <MagicNav/>
        <section class="py-5">
            <router-view />
        </section>
        <MagicFooter/>
  </div>
</template>

<script>
import MagicFooter from './components/MagicFooter'
import MagicNav    from './components/MagicNav'


export default {
  name: 'App',
  components: {
      MagicNav,
      MagicFooter
  }
}
</script>

<style>
    @import "assets/css/styles.css";
</style>
